# Dependencies
node_modules/
#.env
#.env.local
#.env.production

# Build files
build/
dist/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment files
#*.env